@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --corPV: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-bebas: 'Bebas Neue', sans-serif;
    --font-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}
a.externo::after{
    content: '\0020\1F517';
}
a.externo:hover{
    color: var(--corPV);
}
header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--corPV));
    min-height: 150px;
    text-align: center;
    padding-top: 35px;
}
header > h1{
    color: white;
    font-family: var(--font-bebas);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 15px;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.5);
}
header > p{
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.5);
}
nav{
    background-color: var(--corPV);
    padding: 10px;
    box-shadow: 0px 9px 15px black;
}
nav > a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover{
    background-color: var(--cor2);
    color: var(--corPV);
    border-radius: 6px;
    transition-duration: 0.5s;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1{
    color: var(--corPV);
    font-size: 1.7em;
    font-weight: normal;
    font-family: var(--font-android);
}
main h2{
    font-family: var(--font-android);
    font-size: 1.3em;
    font-weight: normal;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 8px;
}
article > picture > img{
    width: 100%;
}
article > img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    font-weight: bolder;
    color: var(--cor4);
}
main a{
    background-color: var(--cor2);
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
    padding: 3px 0px 3px 5px;
}
div.video{
    background-color: var(--corPV);
    margin: 0px -20px 30px -20px;
    padding: 15px;
    padding-bottom: 57%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 9px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\1F5F8\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--corPV);
    color: white;
    text-align: center;
    font-size: 0.9em;
    padding: 4px;
}
footer > p > a{
    color: var(--cor2);
    text-decoration: none;
    font-weight: bold;
}
p > a:hover{
    color: var(--cor1);
    text-decoration: underline;
}



/*
    line-height: altura da linha
    list-style:
    -type: trocar o tipo do stilizador da lista
    -position: stilo da posição da lista
    columns: colunas
    text-indent: indentação do paragrafo
    transition-duration: duração de qualquer trancição do hover
*/